
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#skills{
    height: 135vh;
}
#experince{
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 40%;
    position: absolute;
    transform: translateX(-50%,-50%);
}
.container-box{
    width: 100%;
    padding: 50px 30px; 
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}
.container-box:hover{
    background-color:var(--color-bg-variant);
}
.shape-1{
    height: 220px;
    width: 220px;
    background: linear-gradient(#ff0e72, #ff66a6);
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -80px;
    z-index: -1 !important;
}
.shape-2{
    height: 180px;
    width: 180px;
    background: linear-gradient(#015788, #5088e4);
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: -50px;
    z-index: -1 !important;
}
.container-box *{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 500;
}
.h2{
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.skill:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}
.bar{
    position: relative;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    padding: 7px 10px;
    backdrop-filter: blur(10px);
}
.bar > div{
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #badefc;
    border: 1px solid #1c97fc;
    box-shadow: 0 0 5px rgba(28, 151, 252, 0.6);
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 97%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 90%;
    }
}
#boostrap-bar{
    animation: boostrap-fill 2s forwards;
}
@keyframes boostrap-fill{
    100%{
        width: 95%;
    }
}
#tailwind-bar{
    animation: tailwind-fill 2s forwards;
}
@keyframes tailwind-fill{
    100%{
        width: 98%;
    }
}
#sass-bar{
    animation: sass-fill 2s forwards;
}
@keyframes sass-fill{
    100%{
        width: 92%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill{
    100%{
        width: 75%;
    }
}
#react-bar{
    animation: react-fill 2s forwards;
}
@keyframes react-fill{
    100%{
        width: 80%;
    }
}
#nextjs-bar{
    animation: nextjs-fill 2s forwards;
}
@keyframes nextjs-fill{
    100%{
        width: 85%;
    }
}
#python-bar{
    animation: python-fill 2s forwards;
}
@keyframes python-fill{
    100%{
        width: 75%;
    }
}
#seo-bar{
    animation: seo-fill 2s forwards;
}
@keyframes seo-fill{
    100%{
        width: 35%;
    }
}
#figma-bar{
    animation: figma-fill 2s forwards;
}
@keyframes figma-fill{
    100%{
        width: 85%;
    }
}

/* ===========================Media Query (For Medium Devices)===============================*/
 @media screen and (max-width:1024px) {
    #skills{
        height: 80vh;
    }
   .wrapper{
    width: 70%;
   }  
   .shape-1{
    height: 180px;
    width: 180px;
    bottom: -100px;
    left: -70px;
}
.shape-2{
    height: 150px;
    width: 150px;
    top: -80px;
    right: -50px;
}
}

/* ===========================Media Query (For Small Devices)===============================*/
 @media screen and (max-width:600px) {
    #skills{
        height: 85vh;
    }
    .wrapper{
        width: 80%;
       }  
       .shape-1{
        height: 100px;
        width: 100px;
        bottom: -50px;
        left: -30px;
    }
    .shape-2{
        height: 100px;
        width: 100px;
        top: -60px;
        right: -30px;
    }
   
}  
@media screen and (max-width:375px) {
    #skills{
        height: 110vh;
    }
    .wrapper{
        width: 80%;
       }  
       .shape-1{
        height: 100px;
        width: 100px;
        bottom: -50px;
        left: -30px;
    }
    .shape-2{
        height: 100px;
        width: 100px;
        top: -60px;
        right: -30px;
    }
   
}
@media screen and (max-width:912px) {
    #skills{
        height: 60vh;
    }
    .wrapper{
        width: 80%;
       }  
       .shape-1{
        height: 100px;
        width: 100px;
        bottom: -50px;
        left: -30px;
    }
    .shape-2{
        height: 100px;
        width: 100px;
        top: -60px;
        right: -30px;
    }
   
}
@media screen and (max-width:540px) {
    #skills{
        height: 110vh;
    }
    .wrapper{
        width: 80%;
       }  
       .shape-1{
        height: 100px;
        width: 100px;
        bottom: -50px;
        left: -30px;
    }
    .shape-2{
        height: 100px;
        width: 100px;
        top: -60px;
        right: -30px;
    }
   
}

 
