header{
    height: 125vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*============== CTA ================*/
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*============== Header Socials ================*/
.header__socials{
display: flex; 
flex-direction: column;
align-items: center;
gap: 0.8rem;
position: absolute;
left: 0;
bottom: 3rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*============== ME ================*/
.me{
    background:linear-gradient(var(--color-primary), transparent);
    /* background:rgb(208, 231, 238); */
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/*============== scroll down ================*/

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


/* ===========================Media Query (For Medium Devices)===============================*/
@media screen and (max-width:1024px) {
    header{
        height: 68vh;
    }
}

/* ===========================Media Query (For Small Devices)===============================*/
@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
    .header__socials, 
    .scroll__down{
        display: none;
    }
}

/* ==================== Animation Start =========================== */

.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  /* Here are just some visual styles. 🖌 */
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }



 
#wrap {
  text-align: center; 
  z-index: 10px;
  }


.fa { font-size: 19px; width: 20px; padding: 0px 0px; }

.btn-slide { 
    position: relative;
    display: inline-block; 
    height: 50px;
    width: 240px;
    line-height: 50px;
    margin: 25px 0;
    padding: 0px;
    border-radius: 25px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,0.7);
    background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
        }
        
.btn-slide:active { 
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0,0.7);
    -webkit-transform: scale(0.98);
    transform: scale(0.96); }
    
.btn-slide:hover { 
    background: linear-gradient(-135deg, #e570e7 0%,#79f1fc 100%); }
        
.btn-slide span.circle { 
    display: block;
    background-color: #fff;
    color: #e570e7;
    position: absolute;
    margin: 5px;
    height: 40px; 
    width: 40px;
    top: 0; left: 0;
    border-radius: 50%;
    transition: all 1.5s ease;
 }
        
.btn-slide:hover span.circle { 
    left: 100%;
    margin-left: -45px;
    background-color: #fff;
    color: #79f1fc; }
        
.btn-slide span.title { 
    position: absolute;
    left: 85px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    transition: all 1.5s linear; 
 }
        
.btn-slide span.title-hover { opacity: 0;}
.btn-slide:hover span.title { opacity: 0; }
.btn-slide:hover span.title-hover { opacity: 1; left: 60px; }   
    

  